:root{
    --mainColor: #131424;
    --secondaryColor: #131424;

    --borderColor: #c1c1c1;

    --mainText: #dddada;
    --secondaryText: #e0dada;

    --themeDotBorder: #c3bdbd;

    /* to get a transparent color use rgba. the (a) determines 
    how transparent the color will be*/

    --previewBg: rgba(7, 2, 77, 0.5);

    --previewShadow: #050047;

    --buttonColor: rgb(0, 97, 177);

}


.theme-dot{

    -webkit-box-shadow: -17px 6px 8px 1px #838282; 
    box-shadow: -17px 6px 8px 1px #838282;

}
