:root{
    --mainColor: #c2c2c2c7;
    --secondaryColor: #FFFFFF;

    --borderColor: #c1c1c1;

    --mainText: black;
    --secondaryText: #3f3f3f;

    --themeDotBorder: #0E3751;

    /* to get a transparent color use rgba. the (a) determines 
    how transparent the color will be*/

    --previewBg: rgba(91, 213, 249, 0.5);

    --previewShadow: #23C8FA;

}


html, body{
    padding: 0;
    margin: 0;
}


h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Playball', cursive;
}


p, li, span, label, input, textarea{
    color: var( --secondaryText);
    font-family: 'STIX Two Text', serif;
}

a{
    text-decoration: none;
    color: #C9007D;
}

ul{
    list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}


.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}


.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}


.main-container{
    width: 1200px;
    margin: 0 auto;

}

.greeting-wrapper{
    display: grid;

    text-align: center;
    align-content: center;
    min-height: 10em;
    border: 12px ridge #1C6EA4;
    border-radius: 40px 40px 0px 36px;

}



.intro-wrapper{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius:5px 5px 0 0 ;

    -webkit-box-shadow: 22px 6px 8px 11px #257599; 
    box-shadow: 22px 6px 8px 11px #257599;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "nav-wrapper  nav-wrapper"
        "left-column right-column"
    
    ;

}


.nav-wrapper{
    border-radius:5px 5px 0 0 ;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor)
}


#navigation{
    margin: 0;
    padding: 10px;
}


#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
.dots-wrapper{
    display: flex;
    padding: 10px;
}

#dot1{
    background-color: #93045D;
    -webkit-box-shadow: -17px 6px 8px 1px #93045D; 
    box-shadow: -12px 6px 8px 1px #93045D;
}

#dot2{
    background-color: #f3d007;
    -webkit-box-shadow: -17px 6px 8px 1px #f3d007; 
    box-shadow: -12px 6px 8px 1px #f3d007;
}

#dot3{
    background-color: #049328df;
    -webkit-box-shadow: -17px 6px 8px 1px #049328df; 
    box-shadow: -12px 6px 8px 1px #049328df;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius:50%;
    margin: 10px;


}


.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;

}

#profile_pic{
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor)
 
}

#theme-option-wrapper{
    display:flex;
    justify-content: center;
}

.theme-dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;

    margin: 10px;
    border: 2px solid var(--themeDotBorder);
    -webkit-box-shadow: -17px 6px 8px 1px #151B55; 
    box-shadow: -17px 6px 8px 1px #151B55;

    cursor: pointer;

}

.theme-dot:hover{
    border-width: 5px;
}

#light-mode{
    background-color: white;

}

#blue-mode{
    background-color: #040A6C;
    
}

#green-mode{
    background-color: #095919;
    
}

#dark-mode{
    background-color: #131424;
    
}


#setting-note{
    font-size: 12px;
    font-family: Verdana;
    text-align: center;
}
.right-column{
    grid-area: right-column;
    display:grid;
    align-content:center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#preview-shadow{
    background-color: var(--previewShadow);
    width: 300px;
    height: 170px;
    padding-left: 30px;
    padding-top: 30px;
}

#preview{
    width: 300px;
    border: 1.5px solid #0071AB;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;

}

.corner{
    width:7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #0071AB;
    background-color: #FFFFFF;
    position: absolute;
}

#corner-topleft{
    top: -5px;
    left: -5px;
}

#corner-topright{
    top: -5px;
    right: -5px;
}

#corner-bottomleft{
    bottom: -5px;
    left: -5px;
}

#corner-bottomright{
    bottom: -5px;
    right: -5px;
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 100px;
}

#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}

.social-links{
    display: grid;
    align-content:center;
    text-align: center;

}

#social_img{
    width: 100%;
}

.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap:20px;
}

.thumb-nail{
    display: block;
    width: 50%;
    height: 180px;
    object-fit: cover;
}

@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    
    }
}

@media screen and (max-width: 800px){
    .intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "nav-wrapper"
            "left-column"
            "right-column"
        
        ;
    
    }

    .right-column{
        justify-content: center;
        }
}